@model Dtos.AlphaBank.Security.UserLoginDto;

@{
    Layout = "~/Views/Shared/_Layout-Main.cshtml";
    ViewData["Title"] = "Home Page";
}


@if (User.IsInRole("1")) {
    @* <div id="accordian">
        <ul class="show-dropdown main-navbar">
            <div class="selector-active"><div class="top"></div><div class="bottom"></div></div>
            <li class="active">
                <a href="javascript:void(0);"><i class="far fa-address-book"></i>Gestión de Cuentas Bancarias</a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="far fa-clone"></i>Análisis de préstamos</a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Otrogar préstamos</a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="far fa-chart-bar"></i>Seguimiento de préstamos</a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="far fa-copy"></i>Recuperación de préstamos</a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="far fa-bookmark"></i>Mantenimientos</a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="far fa-envelope"></i>Consultas</a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="far fa-heart"></i>Reportes</a>
            </li>
            <li>
                <a  asp-area="" asp-controller="Home" asp-action="Privacy">Seguridad</a>
            </li>
            
        </ul>
        <div class="content-logout d-flex justify-content-center align-items-end">
            <form method="post" asp-action="Logout" asp-controller="Home">
                <input type="submit" value="Cerrar sesión" class="btn btn-logout" />
            </form>
        </div>
    </div> *@


    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Gestión de Prestamos</h3>
                            <ul class="nav side-menu"> 
                                <li>
                                    <a ><i class="fa fa-solid fa-user"></i> Gestión de cuentas bancarias <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="" asp-controller="Home" asp-action="AperturaCuentaBancaria">Apertura de cuenta</a></li>
                                        <li><a asp-area="" asp-controller="Home" asp-action="CierreCuentaBancaria">Ciere de cuenta</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-solid fa-address-card"></i> Análisis de préstamos <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="" asp-controller="Home" asp-action="SolicitudPrestamo">Solicitud de Préstamo</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-solid fa-money"></i> Otorgar préstamos <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Seguimiento de prestamos <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i>Recuperación de préstamos<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>Otros</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-solid fa-gear"></i>Mantenimientos <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-solid fa-book"></i> Consultas <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-solid fa-folder"></i> Reportes <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-solid fa-lock"></i> Seguridad <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Empleados</a></li>
                                    </ul>
                                </li>
                                <form method="post" asp-action="Logout" asp-controller="Home">
                                <li>
                                    <i class="fa fa-laptop"></i>  <input type="submit" class="logout" value="Cerrar Sesión" />
                                </li>
                                </form>
                            </ul>
                        </div>

                    </div>
                    
                </div>
            </div>

            <div class="right_col">
            </div>
            <!-- /page content -->


        </div>
    </div>
    
}