<div class="card-main pt-3">
    <h5>Información personal:</h5>
    <div class="row">
        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <label lass="control-label">Nombre Completo:</label>
            <input type="text" class="form-control" disabled />
        </div>

        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
            <label class="control-label">Estado Civil:</label>
            <input type="text" class="form-control" disabled />
        </div>

        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1">
            <label class="control-label">Edad:</label>
            <input type="text" class="form-control" disabled />
        </div>

        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <label class="control-label">Nacionalidad:</label>
            <input type="text" class="form-control" disabled />
        </div>

        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <label class="control-label">Ocupación:</label>
            <input type="text" class="form-control" disabled />
        </div>
    </div>
    <div class="row">
        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
            <label class="control-label">Teléfono:</label>
            <input type="text" class="form-control" disabled />
        </div>

        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <label class="control-label">Correo Electrónico:</label>
            <input type="text" class="form-control" disabled />
        </div>

        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
            <label class="control-label">Dirección de Residencia:</label>
            <input type="text" class="form-control" disabled />
        </div>

        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="control-label">Salario Promedio Mensual:</label>
            <input type="text" class="form-control" disabled />
        </div>
    </div>
    <hr />
    <h5>Información del préstamo:</h5>
    <div class="row">

        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <label class="control-label">Tipo de préstamo:</label>
            <select class="form-control" disabled></select>
            <span  class="text-danger"></span>
        </div>

        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <label class="control-label">Plazo:</label>
            <select class="form-control" disabled></select>
            <span class="text-danger"></span>
        </div>

        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <label  class="control-label">Moneda:</label>
            <select class="form-control" disabled></select>
            <span  class="text-danger"></span>
        </div>

        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <label  class="control-label">Monto a solicitar:</label>
            <input type="text" class="form-control" disabled />
            <span class="text-danger"></span>
        </div>

        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <label class="control-label">Interés:</label>
            <select class="form-control" disabled></select>
            <span  class="text-danger"></span>
        </div>
    </div>
    <hr />
    <h5>Archivos Adjuntos:</h5>
    <div class="row">
        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="control-label">Link Orden Patronal:</label>
            <input type="text" class="form-control" disabled />
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group pt-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
            <label class="control-label">Link Constancia Salarial:</label>
            <input type="text" class="form-control" disabled />
            <span class="text-danger"></span>
        </div>
    </div>
    
</div>
