@model List<Dtos.AlphaBank.AnalyzeLoanOpportunities.ShowCatalogsDTO>;

@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
    ViewData["Title"] = "Lista de Monedas";
}

<div class="card-white-transparent shadow-container mt-5">
    <div class="header-card">
        <p class="tittle">Monedas</p>
        <div class="form-group d-flex justify-content-center pt-3">
            <Button class="btn btn-green" id="btnCreateTypeCurrency">Agregar</Button>
        </div>
    </div>
    <div class="card-main table-responsive text-nowrap pt-3">
        <table id="tableRoles" class="mt-4">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Identificación</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var typeCurrency in Model)
                {
                    <tr>
                        <td>
                            <button class="btn-action" id="btnUpdateTypeCurrency" data-id=@typeCurrency.Id>
                                <i class="fa fa-solid fa-edit"></i>
                            </button>
                            <form asp-controller="TypeCurrency" method="post" asp-action="Delete" class="form-inline d-inline">
                                <input type="hidden" name="id" value="@typeCurrency.Id" />
                                <button type="submit" class="btn-action">
                                    <i class="fa fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </td>
                        <td>@typeCurrency.Id</td>
                        <td>@typeCurrency.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalCreateTypeCurrency" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Moneda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="contentCreateTypeCurrency">
                    <!-- Parcial view -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-border-8" data-bs-dismiss="modal">Cerrar</button>
                <input type="submit" class="btn btn-green-border-8" form="createTypeCurrency" value="Crear" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUpdateTypeCurrency" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar Moneda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="contentUpdateTypeCurrency">
                    <!-- Parcial view -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-border-8" data-bs-dismiss="modal">Cerrar</button>
                <input type="submit" class="btn btn-green-border-8" form="updateTypeCurrency" value="Actualizar" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#tableRoles').DataTable({
        "responsive": true,
        "aServerSide": true,
        "autoWidth": false,
        "deferRender": true,
        "retrieve": true,
        "processing": true,
        "paging": true,
        "dom": 'Bfrtip',
        "buttons": ["csv", "excel", "pdf"],
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>