@model Dtos.AlphaBank.Security.UpdateUserDTO

<form method="post" asp-controller="Users" asp-action="Update" id="updateUser">
    <div class="row">
        <div class="col-md-12">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Id" class="form-control" type="hidden" value="@Model.Id" />

            <div class="form-group">
                <label asp-for="Email" class="control-label">Correo Electrónico</label>
                <input asp-for="Email" class="form-control" type="email" value="@Model.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoleId" class="control-label">Rol:</label>
                <select asp-for="RoleId" asp-items="ViewBag.Role" class="form-control"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

<script>
    const pass = document.getElementById('passwordInput'),
        showPass = document.querySelector('.show-password');

    showPass.addEventListener('click', function () {
        if (pass.type === "password") {
            pass.type = "text";
            showPass.classList.remove('fa-regular', 'fa-eye-slash');
            showPass.classList.add('fa-solid', 'fa-eye');
        } else {
            pass.type = "password";
            showPass.classList.add('fa-regular', 'fa-eye-slash');
            showPass.classList.remove('fa-solid', 'fa-eye');
        }
    });
</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>