<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alpha</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/Style-Home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style-Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebClient.styles.css" asp-append-version="true" />
</head>
<body class="nav-md">

    <header>
        <nav class="navbar">
            <div class="nav toggle pt-0 ps-2">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <div class="container container-nav d-flex justify-content-center align-content-center">
                <a class="navbar-brand" href="#">
                    <img src="~/img/Logos/Logo-Banco-Blanco.svg" alt="" width="100" height="50">
                </a>
            </div>
        </nav>
    </header>

    <main role="main" class="container pb-3">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">

                        <br />

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>Gestión de Prestamos</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a><i class="fa fa-solid fa-user"></i> Gestión de cuentas bancarias <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a asp-controller="BankAccounts" asp-action="AccountOppening">Apertura de cuenta</a></li>
                                            <li><a asp-controller="BankAccounts" asp-action="AccountClosing">Ciere de cuenta</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-solid fa-address-card"></i> Análisis de préstamos <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a asp-controller="AnalyzeLoanOpportunities" asp-action="LoanApplication">Solicitud de Préstamo</a></li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-solid fa-money"></i> Otorgar préstamos <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a asp-controller="GrantLoan" asp-action="EvaluationLoanApplications">Evaluar Solicitudes de Préstamos</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-table"></i> Seguimiento de prestamos <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a asp-controller="MonitoringLoanStatus" asp-action="MonitoringLoanStatus">Evaluar Solicitudes de Préstamos</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-bar-chart-o"></i>Recuperación de préstamos<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a asp-controller="RecoveryLoan" asp-action="RecoveryLoanList">Recuperar Préstamo</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu_section">
                                <h3>Otros</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a><i class="fa fa-solid fa-gear"></i>Mantenimientos <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a asp-controller="Customer" asp-action="CustomerList">Clientes</a></li>
                                            <li><a asp-controller="Deadlines" asp-action="DeadlinesList">Plazos</a></li>
                                            <li><a asp-controller="InterestRates" asp-action="InterestRatesList">Tasas de Interés</a></li>
                                            <li><a asp-controller="TypeCurrency" asp-action="TypeCurrencyList">Tipo de Moneda</a></li>
                                            <li><a asp-controller="TypeAccount" asp-action="TypeAccountList">Tipos de Cuenta</a></li>
                                            <li><a asp-controller="TypeLoan" asp-action="TypeLoanList">Tipos de Préstamos</a></li>
                                            <li><a asp-controller="Roles" asp-action="RolesList">Roles</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-solid fa-book"></i> Consultas <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-solid fa-folder"></i> Reportes <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a asp-controller="JudicialCollectionClients" asp-action="JudicialCollectionClientsList">Clientes en Cobro Judicial</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-solid fa-lock"></i> Seguridad <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a asp-controller="Security" asp-action="EmployeeList">Empleados</a></li>
                                        </ul>
                                    </li>
                                    <form method="post" asp-action="Logout" asp-controller="Security">
                                    <li>
                                        <i class="fa fa-laptop"></i>  <input type="submit" class="logout" value="Cerrar Sesión" />
                                    </li>
                                    </form>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="right_col">
                </div>
                <!-- /page content -->
                @RenderBody()

            </div>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Home.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>