@model Dtos.AlphaBank.BankAccounts.UpdateCustomerDTO

<form method="post" asp-controller="Customer" asp-action="Update" id="updateCustomer">
    <div class="row">
        <div class="col-md-12">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Id" class="form-control" type="hidden" value="@Model.Id"/>

            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label">Correo Electrónico:</label>
                <input asp-for="EmailAddress" class="form-control" type="email" value="@Model.EmailAddress" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AverageMonthlySalary" class="control-label">Salario Promedio Mensual:</label>
                <input asp-for="AverageMonthlySalary" class="form-control" value="@Model.AverageMonthlySalary" type="number" />
                <span asp-validation-for="AverageMonthlySalary" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OccupationId" class="control-label">Ocupación:</label>
                <select asp-for="OccupationId" asp-items="ViewBag.Occupation" class="form-control"></select>
                <span asp-validation-for="OccupationId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerStatusId" class="control-label">Estado:</label>
                <select asp-for="CustomerStatusId" asp-items="ViewBag.Status" class="form-control"></select>
                <span asp-validation-for="CustomerStatusId" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>